body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:40px;
  width:1380px;
  height:900px;
}
#u0_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:900px;
  overflow:hidden;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:40px;
  background:inherit;
  background-color:rgba(7, 32, 72, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:40px;
  display:flex;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:220px;
  height:900px;
}
#u2_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:900px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(0, 21, 42, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 21, 42, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:900px;
  display:flex;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4 {
  position:absolute;
  left:0px;
  top:10px;
}
#u4_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:220px;
  height:360px;
  background-color:rgba(0, 21, 42, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(42, 53, 80, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(20, 144, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u6.mouseOver {
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:15px;
  width:15px;
  height:12px;
  display:flex;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:19px;
  width:12px;
  height:7px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u9.mouseOver {
}
#u9_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u9.selected {
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u10.mouseOver {
}
#u10_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u10.selected {
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u11.mouseOver {
}
#u11_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u11.selected {
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u12.mouseOver {
}
#u12_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u12.selected {
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u13.mouseOver {
}
#u13_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u13.selected {
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u14.mouseOver {
}
#u14_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u14.selected {
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:315px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u15.mouseOver {
}
#u15_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u15.selected {
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(42, 53, 80, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(20, 144, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u17.mouseOver {
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:15px;
  width:15px;
  height:12px;
  display:flex;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:19px;
  width:12px;
  height:7px;
  display:flex;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20 {
  position:absolute;
  left:0px;
  top:380px;
}
#u20_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(42, 53, 80, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(20, 144, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u22.mouseOver {
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:15px;
  width:15px;
  height:12px;
  display:flex;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:19px;
  width:12px;
  height:7px;
  display:flex;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:220px;
  height:540px;
  background-color:rgba(0, 21, 42, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u20_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(42, 53, 80, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(20, 144, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u26.mouseOver {
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:15px;
  width:15px;
  height:12px;
  display:flex;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:19px;
  width:12px;
  height:7px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u29.mouseOver {
}
#u29_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u29.selected {
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u30_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u30.mouseOver {
}
#u30_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u30.selected {
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u31.mouseOver {
}
#u31_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u31.selected {
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u32.mouseOver {
}
#u32_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u32.selected {
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u33.mouseOver {
}
#u33_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u33.selected {
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u34.mouseOver {
}
#u34_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u34.selected {
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:315px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u35_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u35.mouseOver {
}
#u35_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u35.selected {
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u36.mouseOver {
}
#u36_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u36.selected {
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:405px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u37.mouseOver {
}
#u37_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u37.selected {
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u38.mouseOver {
}
#u38_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u38.selected {
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:495px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u39.mouseOver {
}
#u39_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u39.selected {
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u40 {
  position:absolute;
  left:0px;
  top:434px;
}
#u40_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(42, 53, 80, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(20, 144, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u42.mouseOver {
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:15px;
  width:15px;
  height:12px;
  display:flex;
}
#u43 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:19px;
  width:12px;
  height:7px;
  display:flex;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u40_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:220px;
  height:180px;
  background-color:rgba(0, 21, 42, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u40_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(42, 53, 80, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u46_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(20, 144, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
}
#u46.mouseOver {
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:15px;
  width:15px;
  height:12px;
  display:flex;
}
#u47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:19px;
  width:12px;
  height:7px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u49 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u49.mouseOver {
}
#u49_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u49.selected {
}
#u49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u50_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u50.mouseOver {
}
#u50_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u50.selected {
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:220px;
  height:45px;
  display:flex;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u51_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u51.mouseOver {
}
#u51_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background:inherit;
  background-color:rgba(20, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:left;
}
#u51.selected {
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:10px;
  width:163px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u52 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:1562px;
  top:10px;
  width:9px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u54 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:1580px;
  top:10px;
  width:9px;
  height:20px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u55 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:906px;
  width:16px;
  height:18px;
  display:flex;
  opacity:0.5;
  line-height:36px;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:891px;
  width:220px;
  height:1px;
  display:flex;
  opacity:0.2;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
